.button-main {
    position: relative; /* Ensure the parent has a position context */
  }
  
  .drop {
    position: absolute; /* Position the dropdown absolutely */
    top: 100%; /* Position it below the button */
    left: 0;
    z-index: 1000; /* Ensure it appears above other content */
    display: block; /* Make sure it displays as a block element */
    margin-top: 0.125rem; /* Small margin to separate it from the button */
    width: 200px;/* Minimum width for the dropdown */
    padding: 0.5rem 0;
    font-size: 1rem;
    list-style-type: none;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }


  .second-part li{
    cursor: pointer;
  }
  .second-part li:hover {
    color: #212529;
    font-weight: 700;
  }